/* General styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    max-width: 800px; /* Set a maximum width for the content */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Header styles */
h1 {
    color: whitesmoke;
    font-size: 2em; /* Set font size for large screens */
}

/* Section header styles */
h2 {
    color: whitesmoke;
    font-size: 1.5em; /* Set font size for large screens */
}

/* Content block styles */
#bloco-resumo {
    color: whitesmoke;
    background-color: #1D2226;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    /* Adjust font sizes for smaller screens */
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    #bloco-resumo {
        width: 100%; /* Make the content block full width on small screens */
    }
}
